body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.orange-text {
  color: orange;
}
h1 {
  font-weight: 700;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(
    45deg,
    rgb(253, 164, 129),
    rgb(240, 92, 65)
  );
  padding: 15px 30px;
  border-radius: 20px;
  color: white;
  font-weight: 700;
}
.flex-style {
  display: flex;
  padding-bottom: 100px;
}
.header {
  padding-top: 40px;
}
.top-margin {
  margin-top: 120px;
}
.half-width {
  width: 40%;
  padding-left: 9%;
  padding-right: 1%;
}

.half-width img {
  width: 90%;
}
.about {
  background-image: url(../images/shapes/7.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
#img-width {
  width: 70%;
  padding-top: 40px;
}
.about-para-height {
  padding: 5% 30% 18% 0;
}
